/* See the Tailwind configuration guide for advanced usage
   https://tailwindcss.com/docs/configuration */
@layer terminal, theme, base, components, utilities;
@import "./terminal.css" layer(terminal);
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities) source(none);

@source "../css";
@source "../js";
@source "../../lib/bar_banker_web";

/* A Tailwind plugin that makes "hero-#{ICON}" classes available.
   The heroicons installation itself is managed by your mix.exs */
@plugin "../vendor/heroicons";

/* daisyUI Tailwind Plugin. You can update this file by fetching the latest version with:
   curl -sLO https://github.com/saadeghi/daisyui/releases/latest/download/daisyui.js
   Make sure to look at the daisyUI changelog: https://daisyui.com/docs/changelog/ */
/* @plugin "../vendor/daisyui" {
  themes: false;
} */


/* daisyUI theme plugin. You can update this file by fetching the latest version with:
  curl -sLO https://github.com/saadeghi/daisyui/releases/latest/download/daisyui-theme.js
  We ship with two themes, a light one inspired on Phoenix colors and a dark one inspired
  on Elixir colors. Build your own at: https://daisyui.com/theme-generator/ */
/* @plugin "../vendor/daisyui-theme" {
  name: "black";
  default: true;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(0% 0 0);
  --color-base-200: oklch(19% 0 0);
  --color-base-300: oklch(22% 0 0);
  --color-base-content: oklch(87.609% 0 0);
  --color-primary: oklch(35% 0 0);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(35% 0 0);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(35% 0 0);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(35% 0 0);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(45.201% 0.313 264.052);
  --color-info-content: oklch(89.04% 0.062 264.052);
  --color-success: oklch(51.975% 0.176 142.495);
  --color-success-content: oklch(90.395% 0.035 142.495);
  --color-warning: oklch(96.798% 0.211 109.769);
  --color-warning-content: oklch(19.359% 0.042 109.769);
  --color-error: oklch(62.795% 0.257 29.233);
  --color-error-content: oklch(12.559% 0.051 29.233);
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
} */

/* Add variants based on LiveView classes */
@custom-variant phx-click-loading (.phx-click-loading&, .phx-click-loading &);
@custom-variant phx-submit-loading (.phx-submit-loading&, .phx-submit-loading &);
@custom-variant phx-change-loading (.phx-change-loading&, .phx-change-loading &);

/* Use the data attribute for dark mode  */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* Make LiveView wrapper divs transparent for layout */
[data-phx-session],
[data-phx-teleported-src] {
  display: contents
}

/* This file is for your main application CSS */

:root {
  font-size: 44px;
  letter-spacing: -3px;
}